body {
    font-family: Arial, sans-serif;
    background-color: #005f73;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    width: 90%;
    max-width: 600px;
    background-color: #0a9396;
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    color: #ffffff;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="datetime-local"] {
    width: calc(100% - 40px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #94d2bd;
    color: #005f73;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ee9b00;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e9d8a6;
    color: #005f73;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.finished {
    background-color: #94d2bd;
    text-decoration: line-through;
}

.alert {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f4a261;
    color: #005f73;
    padding: 15px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

.alert.show {
    display: block;
}



.close-btn {
    cursor: pointer;
    margin-left: 10px; /* Adjust margin as needed */
    font-size: 20px; /* Adjust font size as needed */
    color: #ff6347; /* Or any other color you prefer */
}

.remove-btn {
    padding: 5px 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Adjust margin as needed */
}
